
*{
margin:0;
padding:0;
 }
.centerdiv{
height:100vh;
display:flex;
justify-content:center;
align-items:center; 
height:210px;               

}
.centerdiv a{
height:100px;
width:100px;
background-color:#f5f6fa;
border-radius:50px;
text-align:center;
margin:20px;
display:flex;
justify-content:center;
align-items:center;   
box-shadow:1px 4px 2px 2px #dcdde1;
text-decoration:none;
}
.centerdiv a i{
transition:all 0.3s linear;
}
.centerdiv a :hover i{
             transform:scale(1.4);    
			 }
			 .fa-instagram{
			 color:#e84393;
			 }
			 .fa-linkedin{
			 color:#0097e6;
			 }
			 .fa-twitter{
			 color:#0097e6;
			 }
 .fa-whatsapp{
			 color:#25D366;
			 }
@media(max-width:479px)
{

}